:80 {
	root * /srv
	encode zstd gzip

	handle /admin/* {
		reverse_proxy memind-server:8366
	}

	handle /open/* {
		reverse_proxy memind-server:8366
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
